.sidebar {
  width: 250px;
  height: 100vh;
  background: #0f172a;
  color: white;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  padding: 25px 20px;

  box-sizing: border-box;

  z-index: 1000;
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 40px;
  font-size: 32px;
}

.sidebar a {
  text-decoration: none;
  color: white;

  padding: 14px 18px;

  margin-bottom: 10px;

  border-radius: 12px;

  transition: 0.3s;
}

.sidebar a:hover {
  background: #1e293b;
}

.sidebar button {
  margin-top: auto;

  padding: 12px;

  border: none;

  border-radius: 10px;

  background: #ef4444;

  color: white;

  cursor: pointer;
}
